<!DOCTYPE html>
<html lang="en">
<head>
<title>%domain% - coming soon</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="a default index page for a new domain.">
<style type="text/css">
body {font-size:16px; background-color:#606060; font-family:Calibri; text-align:center;}
h1 {font-size:6rem; color:#f0f0f0; margin: 6rem 0 2rem 0;}
p {text-align:center; margin-left:auto; margin-right:auto; }
a:link {color: #000000;}
a:visited {color: #796392;}
a:hover {color: #28d509;}
</style>
</head>
<body> 
<h1>%domain%</h1>
<a href="https://qweec.net/">powered by qweec</a>
</body>
</html>

